.collapse1 .btn1{
    background: #f2f2f2;
    color: black;
    padding: 6px 20px;
}
.collapse1 .btn1:hover{
    background-color:  #f27c09;
    color: white;
}
.main-breadcrumb{
    margin-bottom: 30px;
}
.main-breadcrumb ol li a{
    text-decoration: none;
    color: black;
}
.main-breadcrumb ol li:hover a{
    color:#f27c09;
}
.main-body .profile h2{
    margin-bottom: 40px;
}
